@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=IBM+Plex+Sans+Thai+Looped:wght@300&family=Montserrat&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=IBM+Plex+Sans+Thai+Looped:wght@300&family=MonteCarlo&family=Montserrat&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@300&family=Dongle:wght@300&family=IBM+Plex+Sans+Thai+Looped:wght@300&family=MonteCarlo&family=Montserrat&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: white;
}


li,
a {

    font-family: 'Montserrat', sans-serif;

    font-weight: bolder;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: #cdf6e5;
    text-decoration: none;
}

li,
a:hover {
    color: hsl(175, 84%, 44%);

}

h1 {
    background-color: #cdf6e5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    margin-left: 10px;
    margin-right: auto;

}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 6%;
    background-color: #cdf6e5;
}

.navLink {
    list-style: none;
    background-color: #cdf6e5;
}

.navLink li {
    display: inline-block;
    padding: 0px 20px;
}

.appName h1 {

    background-color: #cdf6e5;
}

/* 
body,
input {
    font-family: 'Poppins', sans-serif;
}

.main-container {
    position: relative;
    width: 100%;
    background-color: #fff;
    min-height: 100vh;
    overflow: hidden;
}

.forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.main-container::before {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 48%;
    background-image: linear-gradient(-45deg, #cdf6e5 0%, rgb(82, 194, 216) 100%);

}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 0 5rem;
}

.title {
    font-size: 2.2rem;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}

.input-field {
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}

.input-field i {
    text-align: center;
    line-height: 55px;
    color: #acaaca;
    font-size: 1.5rem;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.2rem;
    color: #333;
}

.input-field input:placeholder-shown {
    color: #aaa;
    font-weight: 500;

}

.btn {
    width: 150px;
    height: 49px;
    outline: none;
    border: none;
    border-radius: 48px;
    background-color: #cdf6e5;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: all 0.5s;

}

.btn:hover {
    background-color: hsl(155, 56%, 67%);

}

.social-text {
    padding: 0.7rem 0;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-icon {
    height: 46px;
    width: 46px;
    border: 1px solid black;
    margin: 0 0.45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    border-radius: 50%;
    transition: all 0.5s;
}

.social-icon:hover {

    border: #cdf6e5;
}

.signin-signup {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr;

}

form.sign-in-form {
    z-index: 2;

}

form.sign-up-form {
    z-index: 1;
    opacity: 0;
} */

body {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.signup-box {
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.login-box {
    width: 360px;
    height: 280px;
    margin-right: 300px;
    margin-top: 20px;
    border-radius: 3px;
    background-color: white;
}

.signup-box h1 {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 10%;
    border-radius: 20px;
    width: 300px;


}

h4 {
    text-align: center;
}

form {
    width: 300px;
    margin-left: 20px;
}

form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
}

p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
    margin-top: 15px;
}

.para-2 {
    text-align: center;
    color: black;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 5%;
}

.para-2 a {
    color: #49c1a2;
}

.main .signup-box h1 {
    font-size: 1.8rem;
    border-radius: 20px;

}

.login-box h1 {
    text-align: center;
    border-radius: 20px;
    width: 300px;
}